* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-image: url('https://media.giphy.com/media/iOTWhGcJ1IcZOdJPDr/giphy.gif');
  background-repeat: repeat;
  background-size: 100px 100px;
}

html {
    color:white;
}

.top-bar {
  background-color: black;
}

.Hwork {
  background-color: black;
  h1 {
    color: red;
  }
  li {
    color: rgb(255, 173, 233);
    font-size: 1.5vh;
  }
}

/*This is to cross out the items on the IB homework list when Firebase marks them as true/checked. */
.Hwork li.checked label {
  text-decoration: line-through;
  opacity: 0.6;
}

#us {
  color:blue;
}

.intro-text {
  background-color: black;
}


#Bwork {
  padding: 1vh 1.5vw;
  font-size: 1rem;
  border-radius: 25%;
}

#Bwork:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 10px pink;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

#Bhome {
  padding: 1vh 1.5vw;
  font-size: 1rem;
  border-radius: 25%;
}

#Bhome:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 10px yellow;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}